
.links_pop{
  padding-top: 1%;
  float:left;
  margin-left: 0.5%;
  width:48%;
}

.rechts_pop{
  padding-top: 1.2%;
  float: left;
  width: 48%;
  margin-left: 1%;
}

.button_speichern{
  margin-right: 4%;
  margin-left: 4%;
  border-radius: 35px 5px 35px 5px;
  background-color: #A4A4A4;


}

.button_schließen{
  border-radius: 35px 5px 35px 5px;
  background-color: #A4A4A4;

}

.button_abbrechen{
  border-radius: 35px 5px 35px 5px;
  background-color: #A4A4A4;

}

.button_div{
  margin-left:40%;
  margin-bottom: 1%;

  }

.gast_pop{
  width: 100%;
  height: 95px;
}

.gast_pop input{
  margin: 0 0 0.5em 1em;
}

.gast_pop span{
  float: left;
  text-align: right;
  width: 8em;
}


.tab_pop{
  background-color: red;
  width: 92%;
  margin-left: 5%;
  margin-top: 1%;
  height: 245px;
  overflow: auto;
}

.tab_fuellen td{
  border: solid;
  border-width: 0.1px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  max-height: 50px;

}
