body {
  background-color: #F14822;
  padding: 5px;
  margin: 0;
  background-image: url("baseball_feld.png");
}


h1{
  font-family: cursive;
  text-align: center;
  color: white;
  background-color: #088A08;
  height: 47px;
  text-shadow: 0 0 10px black;
  border: solid;
  border-color: black;
  border-width: 1px;
  box-shadow: 5px 10px 18px #888888;
  background-image: url("schlaeger.png");
}

h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
/*
.content {
  background-color: #FFF;
  padding: 25px;
}
*/

.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
