



.linksPop{
background-color: green;
  float: left;
  margin-left: 4%;
  width:45%;
  height: 80%;
}

.linksPop input{
  float: right;
}

.linksPop label{
  float: left;
}

.rechtsPop{
background-color: red;
  float: right;
  margin-right: 3%;
  width: 45%;
  margin-left: 2%;
}

.rechtsPop input{
  float: right;
}
.button_pop{
  float: right;
  margin-right: 10%;
  margin-bottom: 1%;
}
