.SpielInfo_Popup{
  background-color: transparent;
  position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   border-style: solid;
   border: 5px solid gainsbro;
}

.SpielInfo_Popup_inner{
  position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;
margin: auto;
background-color: #F2F2F2;
border: solid;
height: 75%;
}

.linksPop{
  float: left;
  margin-left: 5%;
  width:41%;

}

.linksPop input{
  margin: left;
}

.linksPop label{
  text-align: right;
  width: 30%;
}


.rechtsPop{
  float: right;
  width: 45%;
  margin-right: 6%;
  margin-left: 3%;

}
.rechtsPop label{
  text-align: right;
  width: 37%;
}

.rechtsPop input{

}
.gespielt_am{
  width: 19%;

}

.button_pop{
  float: right;
  margin-right: 10%;
  margin-bottom: 1%;

}
