.linksPop{
background-color: green;
  float: left;
  margin-left: 4%;
  width:45%;
  height: 80%;
}

.rechtsPop{
background-color: red;
  float: right;
  margin-right: 3%;
  width: 45%;
  margin-left: 2%;
}

.rechtsPop input{
    margin: 0 0 0.6em 4em;
}

.linksPop input{

}

.button_pop{
  float: right;
  margin-right: 1%;
  margin-bottom: 1%;
}
