.spielinformationen_Inning_oben{
  margin-left: 1%;
  background-color: #088A08;
  width: 98%;

}

.inning_info_label_header{
  font-weight: bold;
  width: 125px;
  float: left;
  font-size: 20px;
  text-align: left;
}


.inning_info_label_content{
  width: 130px;
  font-size: 20px;
  margin-right: 5%;
}

.team_point{
  font-weight: bold;
  width: 55px;
  text-align: left;
}

.spielablauf_table{
  margin-left: 1%;
  margin-right: 3%;
  width: 98%;
  background:white;
  overflow: auto;
}

.spielablauf_table.table.td{
  width: 45%;
  background-color: yellow;
}

.team1{
  margin-left: 40px;
  font-weight: bold;
  width: 200px;
}

.team2{
  font-weight: bold;
  width: 220px;
  margin-right: 90px;
}


.nr{
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  width: 40px;

}

.inhalt{
  overflow: auto;
}

.spielerinfoNr{
  width: 100px;
}

.spielerInfos{
  width: 90px;
}

.button_pop_{
  border: 1px solid #268a16;
  display: inline-block;
  color: black;
  font-size: 15px;
  padding: 1px 15px;
  border-radius: 6px;
  font-weight: bold;
  background-color: #A4A4A4;
  text-decoration: none;
  width: 110px;
  cursor: pointer;
  margin-right: 2px;
  margin-bottom: 2px;
  float: right;
}

.spielerInfos label{
  width: 150px;
}

.inning_Ende_Button{
  margin-top: 2%;
  margin-right: 0%;
  margin-bottom: 1%;
  border-radius: 35px 5px 35px 5px;
  background-color: #A4A4A4;
  font-weight: bold;
  width: 90px;
}

.outs_hits_errors{
  font-weight: bold;

}

.outs_hits_errors2{
  font-weight: bold;
  text-align: left;
  width: 17px;

}

.but_ord{
  width: 500px;
  float: left;
  height: 80px;
}

.but_ord2{
  width: 590px;
  float: right;
  height: 80px;
}
