.spielinformationen_Inning_oben{
  margin-left: 5%;
  background-color: gray;
  width: 90%;
}

.inning_info_label_header{
  font-weight: bold;
  width: 5%;
  font-size: 20px;
  margin-right: 5%;

}


.inning_info_label_content{
  width: 10%;
  font-size: 20px;
  margin-right: 5%;
}

.spielablauf_table{
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  background:white;
  overflow: auto;
}

.spielablauf_table.table.td{
  width: 45%;
  background-color: yellow;
}

.inhalt{
  overflow: auto;
}


.button_pop_{
  margin-top: 2%;
  margin-right: 0%;
  margin-bottom: 1%;
  border-radius: 35px 5px 35px 5px;
  background-color: #A4A4A4;
  font-weight: bold;
  width: 85px;
}
