.spielinformationen_Inning_oben{
  margin-left: 3%;
  background-color: #A4A4A4;
  width: 95%;
}

.inning_info_label_header{
  font-weight: bold;
  width: 5%;
  font-size: 20px;
  margin-right: 5%;
  width: 60px;

}


.inning_info_label_content{
  width: 10%;
  font-size: 20px;
  margin-right: 5%;
}

.spielablauf_table{
  margin-left: 3%;
  margin-right: 3%;
  width: 95%;
  background:white;
  overflow: auto;
}

.spielablauf_table.table.td{
  width: 45%;
  background-color: yellow;
}

.inhalt{
  overflow: auto;
}


.button_pop_{
  margin-top: 2%;
  margin-right: 0%;
  margin-bottom: 1%;
  border-radius: 35px 5px 35px 5px;
  background-color: #A4A4A4;
  font-weight: bold;
  width: 85px;
}

.spielerInfos label{
  width: 140px;
}


.inning_Ende_Button{
  margin-top: 2%;
  margin-right: 0%;
  margin-bottom: 1%;
  border-radius: 35px 5px 35px 5px;
  background-color: white;
  font-weight: bold;
  width: 90px;
}
