.inf{
  width: 99.8%;
  margin-top: 0.3%;
  height: 70%;
  text-align: center;
}

.headerT{
  background-color: #D8D8D8;
  box-shadow: inset 1px 3px 5px -3px rgba(0, 0, 0, 0.5);

}
.inhaltT{
  background-color: #EFF5FB;
  box-shadow: inset 1px 3px 5px -3px rgba(0, 0, 0, 0.5);
  
}

.header2{
  background-color: #D8D8D8;
  box-shadow: inset 1px 3px 5px -3px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 23%;


}
