.spielInformationen_links{
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  height: 150px;
  width: 44.5%;
  float: left;
  background-color: #F2F2F2;
  max-width: 100%;


}

.wrapper_ue{
  width: 1345px;
  max-width: 100%;
  margin: 0 auto;


}

.links{
  padding-top: 0.6%;
  float:left;
  margin-left: 0.02%;
  width:43.5%;
  height: 132px;

position: absolute;

}

.links form{
  width: 49%;
  border: 1px solid gainsbro;


}

.links input{
  margin: 0 0 0.5em 1em;
  }

.rechts{
  padding-top: 0.4%;
  float: left;
  width: 22.4%;
  margin-left: 21.4%;
  position: absolute;


}

.rechts input{
  margin: 0 0 0.5em 1em;

}

.zuschauer{
  margin-top: 0.5%;
}

.zuschauerInput{
  width: 15%;

}

.gespieltAm{
  width: 80.5%;

}

.gespieltAm label{
  float: left;
  text-align: left;
  width: 85px;
}

/*label austragungsort*/
.in{
  width: 37.5%;
  text-align: left;
  margin-left: 5px;
}

.rechtsIn{
  float: right;
  margin-top: -28px;
  margin-right: 2px;

}

.inInput{
  width: 52%;

}

label{
  float: left;
  text-align: right;
  width: 4em;

}



.nr{
  margin-right: -10%;
  width: 11%;
}

/*uebersicht -> spielertablle spieler*/
.spielerInformationen{
  border-style: solid;
  border-width: 3px;
  height: 320px;
  width: 24.5%;
  float: left;
  margin-top:0.3%;
  background-color: #F2F2F2;
box-sizing: border-box;


}

/*gesammtpunkte oben rechts */
.punkte_rechts{
  border-style: solid;
  float: right;
  width: 55%;
  height: 150px;
  background-color: #F2F2F2;
box-sizing: border-box;

}

.spielfeld{
  background-color: #F2F2F2;
box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
  height: 320px;
  width: 75%;
  float: right;
  margin-top:0.3%;

}

.wrapper_ue{
  width: 1345px;
  max-width: 100%;
  margin: 0 auto;

}

.wrapper_ue2{
  width: 1345px;
  max-width: 100%;
  margin: 0 auto;

}


.button_zurueck{
  position: absolute;
margin-left: 30px;
margin-top: 485px;
font-size: 20px;
border-radius: 35px 5px 35px 5px;
background-color: #A4A4A4;

}
