.vor_oben{
  float: left;
  width: 100%;
  margin-bottom: 0.3%;
}

.vor_spielInfo{
  border-style: solid;
  box-sizing: border-box;
  height: 145px;
  width: 44%;
  float: left;
  background-color: #F2F2F2;
  margin-bottom: 0.3%;


}

.vor_spielInfo label{
  text-align: center;
  width: 100%;
  margin: center;
  font-weight: bold;
}

img {
  position: absolute;
   top: 8%;
   left: 85%;
   width: 170px;
   height: 170px;

}

.vor_heim_gast_border{
//  width: 160px;
//  background-color: red;
  height: 50px;
  max-width: 100%;
  margin: 0 auto;
}

.vor_gast{
border-style: solid;
box-sizing: border-box;
float: left;
width: 49.9%;
height: 340px;
background-color: #F2F2F2;
overflow: auto;
}

.vor_heim{
border-style: solid;
box-sizing: border-box;
float: right;
width: 49.8%;
height: 340px;
background-color: #F2F2F2;
overflow: auto;
}


.vor_gast label{

  text-align: center;
  width: 100%;
  margin: center;
  font-weight: bold;
  background-color: #088A08;
  font-size: 19px;
  color: white;
  text-shadow: 0 0 10px black;
}



.vor_heim label{
  text-align: center;
  width: 100%;
  margin: center;
  font-weight: bold;
  background-color: #088A08;
  font-size: 19px;
  text-shadow: 0 0 10px white;
}


.button_spielinfo{
  margin-left: 85%;
  margin-top: 17%;
}

.vor_button_gast{
  position: sticky;
  margin-top: 4px;
  margin-left: 39.5%;
  border-radius: 35px 5px 35px 5px;
  background-color: #A4A4A4;
}

.vor_button_heim{
  float: right;
  margin-top: 4px;
  position: sticky;
  border-radius: 35px 5px 35px 5px;
  background-color: #A4A4A4;
}



.vor_button_weiter{
 margin-left: 50%;
width: 70px;
height: 30px;
margin-top: 1%;
 border-radius: 35px 5px 35px 5px;
 background-color: #A4A4A4;
}

.wrapper{
  width: 1345px;
  max-width: 100%;
  margin: 0 auto;
}

.button_inf_eintragen{
  float: right;
  margin-right: 10%;
  margin-bottom: 1%;
  border-radius: 35px 5px 35px 5px;
  background-color: #A4A4A4;
}
