.vor_oben{
  float: left;
  width: 100%;
  margin-bottom: 0.3%;
}

.vor_spielInfo{
  border-style: solid;
  box-sizing: border-box;
  height: 145px;
  width: 44%;
  float: left;
  background-color: #F2F2F2;
  margin-bottom: 0.3%;
}


.headerInformationen{
  background-color: #088A08;
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 18px;
  text-shadow: 0 0 15px black;
}

.vor_spielInfo label{
  text-align: center;
  width: 100%;
  margin: center;
  font-weight: bold;
}

img {
  position: absolute;
   top: 8%;
   left: 85%;
   width: 170px;
   height: 170px;

}
/*
.vor_heim_gast_border{
  height: 50px;
  max-width: 100%;
  margin: 0 auto;
}
*/

.vor_gast{
border-style: solid;
box-sizing: border-box;
float: left;
width: 49.7%;
height: 340px;
border-width: 2px;
background-color: #F2F2F2;
overflow: auto;
background-color: rgba(196, 196, 196, 0.4);
}

.vor_heim{
border-style: solid;
box-sizing: border-box;
float: right;
width: 49.7%;
height: 340px;
border-width: 2px;
background-color: #F2F2F2;
overflow: auto;
background-color: rgba(196, 196, 196, 0.5);
}

.vor_gast label{
  text-align: center;
  width: 100%;
  margin: center;
  font-weight: bold;
  background-color: #088A08;
  font-size: 18px;
  color: white;
  text-shadow: 0 0 15px black;
}


.vor_heim label{
  text-align: center;
  width: 100%;
  margin: center;
  font-weight: bold;
  background-color: #088A08;
  font-size: 18px;
  text-shadow: 0 0 10px black;
  color: white;
}


.button_spielinfo{
  margin-left: 85%;
  margin-top: 17%;
  font-weight: bold;
}

.vor_button_gast{
  position: sticky;
  margin-top: 4px;
  margin-left: 4%;
  border-radius: 35px 5px 35px 5px;
  background-color: #A4A4A4;
  font-weight: bold;
  width: 150px;
}

.vor_button_heim{
  float: right;
  margin-right: 35.5%;
  margin-top: 4px;
  position: sticky;
  border-radius: 35px 5px 35px 5px;
  background-color: #A4A4A4;
  font-weight: bold;
  width: 160px;
}


.vor_button_weiter{
  margin-left: 70%;
  width: 200px;
  height: 55px;
  margin-top: 0%;
  font-weight: bold;
  font-size: 20px;
  border-radius: 35px 5px 35px 5px;
  background-color: #A4A4A4;
}

.wrapper{
  background-color: red;
  width: 1345px;
  max-width: 100%;
  margin: 0 auto;
}

.button_inf_eintragen{
  float: right;
  margin-right: 10%;
  margin-bottom: 1%;
  border-radius: 35px 5px 35px 5px;
  background-color: #A4A4A4;
  font-weight: bold;
  width: 200px;
}
