.spielInformationen_links{
  border-style: solid;
  border-width: 3px;
  height: 145px;
  width: 44%;
  float: left;

}

.links{
  padding-top: 1%;
  float:left;
  margin-left: 0.5%;
  width:38%;


}

.links form{

  width: 250%;
  border: 1px solid gainsbro;
}

.links input{
  margin: 0 0 0.5em 1em;
}

.rechts{

  padding-top: 1.2%;
  float: left;
  width: 55%;
  margin-left: 5%;

}

.rechts input{
  margin: 0 0 0.5em 1em;

}

.button{
  width: 35%;
  float: right;
  margin-right: 7%;
}

.zuschauer{
  margin-top: 0.5%;
}

.zuschauerInput{
  width: 15%;

}

.gespieltAm{
  width: 80.5%;

}


.gespieltAm label{
  float: left;
  text-align: left;
  width: 85px;
}

.in{
  width: 17.8%;
  text-align: left;
  margin-left: 5px;

}

.rechtsIn{
  float: right;
  margin-top: -28px;
  margin-right: 2px;

}

.inInput{
  width: 22.6%;

}

label{
  float: left;
  text-align: right;
  width: 4em;

}


.spielerInf{
  width: 100%;
  float: left;

}


.spielerInformationen label{
  text-align:left;
  margin-right: 5%;
}

.nr{
  margin-right: -10%;
  width: 11%;

}

.spielerInformationen{
  border-style: solid;
  border-width: 3px;
  height: 320px;
  width: 23%;
  float: left;
  margin-top:0.3%;

}


.punkte_rechts{
  border-style: solid;
  float: right;
  width: 55%;
  height: 145px;

}

.spielfeld{

  border-style: solid;
  border-width: 3px;
  height: 320px;
  width: 75.8%;
  float: right;
  margin-top:0.3%;

}

.tabelle{
  background-color: red;
  width: 70%;
  height: 140px;
  margin-left: 2%;
  margin-top: 0.1%;
}
